<div class="card card-container">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

    <div class="form-category">
      <h3>ログイン</h3>
    </div>


    <div class="form-category">
      <p>ログインID（メールアドレス）</p>
      <%= f.email_field :email, class: "form-input" %>
    </div>

    <div class="form-category">
      <p>パスワード</p>
      <%= f.password_field :password, class: "form-input" %>
    </div>

    <div class="form-category">
      <%= f.submit "ログイン", class: "btn btn-primary btn-signin"%>
    </div>
  <% end %>
</div>